.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/ba/The_Lake_and_the_Galileo_Galilei_Planetarium,_Buenos_Aires_-_Infrared.jpg");
  background-size: cover;
  background-position: center;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
  min-height: 70vh;

}
.HolyGrail-body ul {
  text-align: center;
  margin-top: 29vh;
}
.HolyGrail-body li {
  list-style: none;
  font-size: 2em;
}
.HolyGrail-body li:hover{
  transform: scale(1.015);
}

.HolyGrail-body a {
  color: white;
  text-shadow: 2px 2px black;
}
.HolyGrail-body a:hover {
  color: blue;
}
.jumbotron {
  margin-top: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}
.jumbotron h1 {

  color: white;
}
.appTempQuestionHbs h2 {
  text-align: center;
  color: white;
}
.appTempQuestionHbs h3 {
  text-align: center;
  color: tomato;
}
.modelAuthor {
  color: tomato;
}

.questionDetails {
  background-color: rgba(0, 0, 0, 0.6);
}
.newQuestion-button {

  margin-left: 46%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  background-color: white;
  color: black;
  font-weight: bolder;
}
form {
  background-color: rgba(255, 255, 255, 0.7);
  width: 350px;
}
input {
  color: blue;
}
.updateQuestion-button {
  margin: 8px;
}
.notes {
  margin: 8px;
}
.delete-question {
  margin-left: 8px;
}
.app-temp-question-hbs h2{
  text-align: center;
  margin: 48px 0;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 80px;
  background-color: lightgray;
}

footer a{
  margin-left: 30px;
  align-self: center;
}
.responses h2 {
  color: white;
}

.responses li{
  font-size: 1em;
  color: white;
}
.responses li:hover{
  transform: none;
}
