<h2>A great application for questions and answers</h2>
<p>
  This application allows a user to input a question, edit that question, and have users respond to that idividual question. A firebase is used to store the date.
</p>
{{#link-to "about"}}About{{/link-to}}
