<body class="body">
  <header class="container">
    <div class="jumbotron">
      <h1>Questions and Answers</h1>
    <h3> {{#link-to 'index'}}Home{{/link-to}}</h3>
    </div>
  </header>
  <div class="HolyGrail-body">
    <div class="container">
      {{outlet}}

    </div>
  </div>

  <footer>
    {{#link-to 'about'}} About {{/link-to}}
  </footer>
</body>
