<body class="body">
  <header class="container">
    <div class="jumbotron">
      <h1>Questions and Answers</h1>
    </div>
  </header>
  <div class="HolyGrail-body">
    <div class="container">
      {{new-question save2="save3"}}
      <ul>
        {{#each model as |question|}}
        {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
        {{/each}}
      </ul>
    </div>
  </div>

  <footer>
    {{#link-to 'about'}} About {{/link-to}}
  </footer>
</body>
