<div class="container">
  <div class="appTempQuestionHbs">
    <h2>A closer look at {{model.author}}'s question.</h2>
    <h3>{{model.submit}}</h3>
    {{question-detail question=model destroyQuestion="destroyQuestion"}}
    {{update-question question=model update="update"}}
  </div>
</div>
